*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  /* border:1px solid black; */
}
/* .container-class{
  /* border:1px solid black;
} */


.navbar-cont{
    margin: 30px 50px;
    /* border: 1px solid black; */
}

.logi{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logi img{
    height:70px;

}

.bar{
  display: none;
    height:3px;
    width:30px;
    margin:5px 0px;
    background-color:#004aad;
    border-radius: 15px;

}

.nav-sp{
    display: flex;
    /* border: 1px solid black; */
    /* align-items: center; */
    /* justify-content: center; */
    /* margin-left: 300px; */
}

.navbar-cont nav ul{
    display: flex;
    /* align-items: center; */

}

.navbar-cont nav  ul li{
    text-decoration: none;
    list-style: none;
    margin: 10px 20px;
}

nav a{
    text-decoration: none;
    font-size: 16px;
    color: #004AAD;
}

.navbar-cont nav  ul li:hover{
  border: 1px solid black;
}
.spr-btn{
    padding: 10px 20px;
    background: #004AAD;
    border-radius: 10px;
    color: white;

}

.cont-vision{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    /* border: 1px solid black; */
    margin:100px 70px;

}
.cont-success{
  /* padding-right: 30px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* margin-right: 30PX; */
  width: 700px;
  align-items: flex-start;

 }

/* .box{

} */
.cont-success h2{
font-size:90px;
font-weight: 900px;
color: #090E52;
/* border: 1px solid black; */
}

.cont-success p{
font-size: 18px;
line-height: 35px;
color: #666666;
width: 70%;
}
/* 
.img-group{
  /* border: 1px solid black; */
  /* width: 100%;} 
*/
.img-group img{
    height: 550px;
    /* width: 100%; */

    /* margin-left: -40px; */
}

.waiting {
    background: #004AAD;
    padding:15px 30px;
    margin: 50px 0px;
    border-radius: 10px;
    /* align-self:flex-start; */


}
.waiting a{
  color: white;
  text-decoration: none;
  padding:20px;

}


.dashboard-sect{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:100px 0px;
    padding: 100px 0px;
    /* border:1px solid black; */

}

.Eclipse1 img{
  height: 650px;
}

.ecl img{
  height: 700px;
  width:230px;
  /* border:1px solid black; */
}

/* THE DIGITAL GROWTH SECTION ___________________________________________________________________________________________________________________________________*/
.digital{
  /* border: 1px solid black; */
  margin: 20px 100px;
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.digital .hd-txt h1{
 text-align: center;
 font-size: 60px;
 /* margin: 100px; */

}

.desc, .rev{
  display: flex;
  justify-content: space-between;
  align-items:center;
  margin: 100px 0px;
  /* border: 1px solid black; */
  
}
.d-img{
  /* border: 1px solid black; */
  /* padding: 0px 30px; */
  height: 450px;
  
}
.imgI{
  position: relative;

}
.imgI img{
  height: 150px;

}

.imgII{
  /* width: 450px; */
  position: relative;
  top:-130px;
  left:30px;
  /* border: 1px solid black; */
}
.imgII img{
 height: 450px;
}


.d-ctnt{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 600px;
  /* margin-left: 100px ; */
  /* border: 1px solid black; */
}

.hg-h{
padding:5px 25px;
/* border: 1px solid black; */
background-color: #32DFF2;
border-radius: 5px;
color: white;
}
.d-ctnt h1{
  margin: 20px 0px;
}

.d-ctnt p{
  font-size: 18px;
  line-height: 30px;

}

.ctxt h1{
  color: #004aad;
  font-weight: bold;
  font-size: 30px;
}
.ctxt p{
color: #434343;
}

.img-sep img{
  height: 450px;
}
/* the success story section------------------------------------------------------------ */
.suc-s{
  /* border: 1px solid black; */
  margin: 200px 0px;
  
}

.d-story{
  /* border: 1px solid black; */
  background-color: #F3F8FF;
  display: flex;
  padding: 50px 70px;
  flex-direction: column;
  align-items: center;
  width: 800px;
  position: relative;
  /* top: 50%; */
  left: 50%;
  transform:translate(-50%, 0%);  
  border-radius: 15px;
   box-shadow: 0px 10px 22px 0px #EEEDED4D;
   box-shadow: 10px 0px 22px 3px #9292920F;
  ;
}
.d-story h1{
  color: #004aad;
  font-size: 28px;
  margin: 10px;
}
.own{
  position: absolute;
  top: -100px;
  
}
.quo{
  font-size: 150px;
  position: absolute;
  top: -45px;
  left: 50px;
  color: #004aad;
}

.story{
  /* border: 1px solid black; */
  text-align: center;
  width: 100%;
  font-size: 16px;
  /* margin: 30px 0px; */
}

.story h4{
  margin: 30px 0px;
}

.story p{
  margin: 50px 0px;
}




/* the speciality section */
.cased{
    position: relative;
}
.spec{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0px ;
  position: relative;
  /* border: 1px solid black; */

}
.spec-hd{
  text-align: center;
  line-height: 45px;
}
.spec-hd h1{
  font-size: 45px;
  color: #004aad;
  font-weight: bolder;
}

.spec-hd p{
  color: #9F9F9F;
}

.sp-sec{
  display: flex;
  /* border: 1px solid black; */
  justify-content: space-between;
  margin:50px 100px;
}
.specs{
  border: 1px solid #5DA2FF4A;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px;
  width: 250px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 11px 22px #E6E6E636;
  
}

.specicon{
  /* border: 1px solid black; */
  padding: 15px;
  border-radius: 100%;
  background-color: #E4EFFF;
  margin: 20px 0px;
}
.specicon img{
  height: 25px;
  width: 30px;
}
.spc-txt h3{
  color: #004aad;
  margin: 10px 0px;
}
.spc-txt p{
  font-size: 14px;
  color: #9F9F9F;
}
.imds{
  position: absolute;
  top: 0px;
  height: 150px;
}
.imds img{
  height: 550px;
  width: 150px;
}

/* FOOTER SECTION */
footer{
  /* border: 1px solid black; */
  padding:40px 100px;
  background: #F2F8FF;

  
}

.foot1{
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
  /* align-items: center; */
}

.ft010{
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  /* align-items:center; */
}

.logos{
  display: flex;
  align-items: center;
}
.lgsvg{
  height: 50px;
  /* border: 1px solid black; */
}
.ftsvg{
  height: 15px;

}


.ct-info{
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  margin: 20px 0px ;
}
.ct-info a{
  color: #5F5F5F;
  margin: 0px 20px;
  text-decoration: none;
  cursor: pointer;
}

.eco ul{
  display: flex;
  margin: 20px 0px;
}
.eco ul li{
  list-style: none;
  
  margin: 0px 10px;
}

.eco a{
  color: #004aad;
  text-decoration: none;
}


.abt{
  width: 350px;
  line-height: 25px;
  color: #B0AFAF;
  padding: 0px 10px;
}

/* THE SIGN IN POPUP */
.popup-inn{
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  position:fixed;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 10;
  background-color: #FFFFFF;
  border-radius: 10PX;
  width: 100%;
  height: 100%;
  margin-top: 50px;
  transition: 4s ease-in-out;
}



.close{
  font-size: 70px;
  position: absolute;
  right: 20px;
  background-color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;

}
.register{
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.inf{
  text-align: center;
  margin: 30px;
  width: 450px;
}
.inf h1{
  font-weight: 700px;
  font-size: 36px;

}
.inf p{
  margin: 20px;
  font-size: 18px;
  color: #939393;
}

.entries{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.entries input{
  padding: 15px;
  margin: 15px;
  width: 350px;
}

.entries input[type =text], .entries input[type = email]{
  outline: none;
  border: 1px solid #004AAD45;
  border-radius: 10px;
  background-color: #F5FAFF;
  font-size: 16px;
  /* color: #004aad; */
}
::placeholder{
  color: #004aad  ;
}
.reg-btn{
  width: 350px;
  padding:15px;
  background-color: #004aad;
  border: none;
  outline: none;
  color: white;
  font-weight: bold;
  margin: 50px;
  border-radius: 15px;
  cursor: pointer;
}

.Overlay{
  position:fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  background-color: rgba(0, 0, 0, 0.5);
  /* pointer-events: all;w */

}


/* MEDIA QUERY FOR THE Screen size LESS THN 500PIXELS   */
@media screen and (max-width:499px){
  .navbar-cont{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      margin:   20px 10px;
      /* border: 1px solid black; */
  }

  .logi{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .logi img{
      height:45px;

  }

  
  
  .nav-sp{
    display: flex;
    /* border: 1px solid black; */
  }






  .cont-vision{
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column-reverse;
      /* border: 1px solid black; */
      margin:50px 10px;
  }

  .cont-success{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:10px;
    text-align: center;
    margin-right: 0px;

    /* border:1px solid black; */
    /* width: 800px */
  }

  .cont-success h2{
  font-size: 40px;
  font-weight: 900px;
  color: #090E52;
  /* border: 1px solid black; */
  }

  .cont-success p{
  font-size: 18px;
  line-height:25px;
  color: #666666;
  width: 100%;
  margin:30px 0px;
  }

  .waiting{
    padding:10px 15px ;
    margin: 30px 0px;
  }


  .img-group img{
      height: 300px;
      width: 100%;
      margin: 50px 0px
  }


  .dashboard-sect{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin:0px;
      padding:0px;
      /* width: 100%; */
      /* border:1px solid black; */
      padding-left: 10px;

  }
  .Eclipse1 img{
    height: 350px;
    width: 100%;

  }

  .ecl img{
    height: 250px;
    width: 50px;
        display: none;
    /* border:1px solid black; */
  }

  .digital{
    margin: 0px;
    padding: 20px;
    /* border: 1px solid black; */

  }

  .hd-txt h1{
    font-size: 18px
  }

  .desc{
    flex-direction: column;
    margin: 0px 0px;
 
    
  }

  .rev{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items:center;
   
  }

  .d-img{
    height: 100%;
    margin: 50px 0px;
  }

  .imgI{
    height: 100px;
  }

  .img-sep img{
    height: 200px;
  }

  .imgII img{
    height: 200px;
    position: relative;
    top: 70px;
  }

  .d-ctnt{
    width: 100%;
    align-items: center;
    text-align: center;
  }

  /* SUCCESS STORY */
  .suc-s{
    /* border: 1px solid black; */
    padding: 10px;
  }

  .d-story{
    /* border: 1px solid black; */
    width: 100%;
    padding: 20px;
  }


  /* Special Features Section */
  .spec{
    /* border: 1px solid black; */
  }

  .sp-sec{
    display: flex;
    flex-direction: column;
  /* border: 1px solid black; */
  justify-content: space-between;
  margin:50px 100px;
  }

  .specs{
    align-items: center;
    text-align: center;
  }

  .spec-hd h1{
    font-size: 24px;
  }

  .imds img{
    width: 50px;
  }

  footer{
    padding: 20px;
  }

  .ftsvg{
    height: 10px;
  }
  .abt{
    width: 100%;
  }
  

}

@media screen and (min-width:499px) and (max-width:899px) {

.navbar-cont{
    /* display: flex;
    justify-content: space-between; */
    align-items: center;
    margin:20px;
    /* border: 1px solid black; */
}

.logi{
  display: flex;
  align-items:center;
}
.logi img{
    height:70px;

}

  .cont-vision{
      display: flex;
      align-items: center;
      justify-content: center;
      margin:50px 20px;
      /* flex-wrap: wrap-reverse; */
      
      /* border-radius: 1px solid black */
      /* height: 700px; */
  }
  .cont-success{
    width: 700px;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    /* border:1px solid black; */

  }
  .cont-success h2{
  font-size: 45px;
  font-weight: 900px;
  color: #090E52;
  text-align: center;
  /* border: 1px solid black; */
  }

  .cont-success p{
  font-size: 18px;
  color: #666666;
  line-height: 30px;
  text-align: center;
  width: 100%;
  }
  .img-group{
    /* width: 1000px; */
    /* border: 1px solid black; */
  }
  .img-group img{
      /* height: 350px; */
      width: 100%;
      margin: 50px 3px;
  }

  .waiting {
      background: #004AAD;
      padding:15px 30px;
      margin: 50px 0px;
      border-radius: 10px;
      /* align-self:center */


  }
  .waiting a{
    color: white;
    text-decoration: none;
    padding:20px;

  }


 /* WARNING: copy and Paste */
.dashboard-sect{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:100px 0px;
    padding:0px 0px;
    /* width: 100%; */
    /* border:1px solid black; */
    padding-left: 10px;

}
.Eclipse1 img{
  height: 350px;
  width: 100%;

}
.ecl{
  width: 50px
}
.ecl img{
  height: 400px;
  width: 100%;
  /* display: none; */
  /* border:1px solid black; */
}

.digital{
  /* border: 1px solid black; */
  margin: 20px;

}

.desc {
  flex-wrap: wrap;
  justify-content: center;
}

.imgII img{
  width: 100%;
  height: 100%;
}
.d-img{
  /* border: 1px solid black; */
  width: 350px;
  height: 350px;
  margin: 30px 30px;

}

.img-sep img{
  width: 100%;
  height: 100%;
}

.rev{
  /* flex-direction: column-reverse; */
  flex-wrap: wrap-reverse;
}

/* Success Story  */
.suc-s{
  /* border: 1px solid black; */
  padding: 20px;
}

.d-story{
  width: 100%;
}


/* Special SECTION */
.spec{
  /* border: 1px solid black; */
  align-items: center;
}

.sp-sec{
  flex-wrap: wrap;
  /* border: 1px solid black; */
  align-items: center;
  justify-content: center;
  margin: 20px;
}



}


@media screen and (min-width:899px) and  (max-width:1400px) {
 
  .navbar-cont{
    margin: 30px 70px;
    /* border: 1px solid black; */
}

.logi{
  display: flex;
  align-items:center;
}
.logi img{
    height:70px;

}

.bar{
  display: none;
    height:3px;
    width:30px;
    margin:5px 0px;
    background-color:#004aad;

}

.navbar-cont nav{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: 300px; */
}

.navbar-cont nav ul{
    display: flex;
    align-items: center;

}

.navbar-cont nav  ul li{
    text-decoration: none;
    list-style: none;
    margin: 10px 20px;
}
nav a{
    text-decoration: none;
    font-size: 16px;
    color: #004AAD;
}

.spr-btn{
    padding: 10px 20px;
    background: #004AAD;
    border-radius: 10px;
    color: white;

}

.cont-vision{
    display: flex;

    align-items: center;
    justify-content: space-between;
    /* border: 1px solid black; */
    margin:100px 70px;
    flex-wrap: nowrap;
    /* border-radius: 1px solid black */
    /* height: 700px; */
}
.cont-success{
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  align-items: flex-start;
  /*  */

  /* border:1px solid black; */
  /* width: 800px */
}

.cont-success h2{
font-size: 90px;
font-weight: 900px;
color: #090E52;
/* border: 1px solid black; */
}

.cont-success p{
font-size: 18px;
line-height: 35px;
color: #666666;
width: 70%;
}


.img-group img{
    height: 100%;
    width: 100%;

    /* margin-left: -40px; */
}

.waiting {
    background: #004AAD;
    padding:15px 30px;
    margin: 50px 0px;
    border-radius: 10px


}
.waiting a{
  color: white;
  text-decoration: none;
  padding:20px;

}




.Eclipse1 img{
  height: 100%;
  width: 100%;
}

.ecl img{
  width: 100px;
}

.digital{
  /* border: 1px solid black; */
  margin: 20px;

}

.desc {
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
}

.imgII img{
  width: 100%;
  height: 100%;
}
.d-img{
  /* border: 1px solid black; */
  width: 350px;
  height: 350px;
  margin: 30px 50px 30px 0px;

}

.img-sep img{
  width: 100%;
  height: 100%;
}

.rev{
  /* flex-direction: column-reverse; */
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: center;
}


/* Special SECTION */
.spec{
  /* border: 1px solid black; */
  align-items: center;
}

.sp-sec{
  flex-wrap: wrap;
  /* border: 1px solid black; */
  align-items: center;
  justify-content: center;
  margin: 20px;
}



}
